.container{
  width: 100%;
  height: auto;
  background: #fff;
  padding: 20px;
}
.w-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.w-table th, .w-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
/* .w-table th {
  background-color: #555;
  color: white;
} */
.w-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.blue-cell {
  background-color: #1cd5fa;
  color: white;
}
  
.red-cell {
  background-color: rgb(249, 76, 76);
  color: white;
}
  
.apartment {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.expand-header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.expanded {
  transform: rotate(180deg);
}
  
.apartment-details {
  display: none;
  padding: 10px;
}
  
.apartment-details.expanded {
  display: block;
}
  
.apartment-details table {
  width: 100%;
  border-collapse: collapse;
}
  
.apartment-details th,
.apartment-details td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
  
.apartment-details th {
  background-color: #fff;
}
  
.apartment-details span {
  display: block;
  margin-top: 10px;
}
  
.button-group {
  margin-top: 10px;
}
  
.button-group button {
  margin-right: 10px;
}
