<div class="container">
  <div *ngFor="let apartament of apartaments">
    <h2>Apartament {{apartament.id}}</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Type Water Meter</th>
          <th>Index</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reading of apartament.meterReadings">
          <td>{{ reading.readingDate }}</td>
          <td [ngClass]="{ 'blue-cell': reading.type === 'cold', 'red-cell': reading.type === 'Hot' }">{{ reading.type }}</td>
          <td>{{ reading.readingvalue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === getPageCount()">Next</button>
  </div>
</div>