<div class="row" *ngIf="userEMAIL; else noUserTemplate">
    <div class="block-content">
      <div class="profile">
        <div class="profile-logo">
          <img src="assets/logo.png" alt="profile-img" class="logo rounded-cirle padd-10">
        </div>
        <div class="profile-content">
          <div class="profile-fullname text-center">
            <i class="fa fa-user-circle" aria-hidden="true"><span>{{ userFIRSTNAME }} {{ userLASTNAME }}</span></i>
          </div>
          <div class="profile-role text-center">
            <i class="fa fa-tag" aria-hidden="true"><span>{{ userROLE }}</span></i>
          </div>
          <div class="profile-cnp text-center">
            <i class="fa fa-id-card" aria-hidden="true"><span>{{ userCNP }}</span></i>
          </div>
          <div class="ol padd-10"></div>
          <div>Total Apartament: 5</div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <div class="profile">
        <div class="navbar">
          <ul class="navbar-nav">
            <li><a routerLink="user-profile-settings">Profile Setting</a></li>
            <li><a routerLink="user-properties">My Properties</a></li>
            <li><a routerLink="user-request">My Requests</a></li>
          </ul>
        </div>
        <div class="profile-content">
          <div>
            <router-outlet></router-outlet>
          </div>  
        </div>
      </div>
    </div>
    
</div>


<ng-template #noUserTemplate>
  <p>Niciun utilizator logat.</p>
</ng-template>