<!-- user-profile.component.html -->
<div *ngIf="userEMAIL; else noUserTemplate">
    <h2>Profil Utilizator</h2>
    <p><strong>CNP:</strong> {{ userCNP }}</p>
    <p><strong>Email:</strong> {{ userEMAIL }}</p>
    <p><strong>Prenume:</strong> {{ userFIRSTNAME }}</p>
    <p><strong>Nume:</strong> {{ userLASTNAME }}</p>
    <p><strong>Telefon:</strong> {{ userPHONE }}</p>
    <p><strong>Rol:</strong> {{ userROLE }}</p>
    <div *ngIf="userAPARTAMENTS && userAPARTAMENTS.length > 0">
      <h3>Apartamente:</h3>
      <ul>
        <li *ngFor="let apartment of userAPARTAMENTS">{{ apartment }}</li>
      </ul>
    </div>
  </div>
  
  <ng-template #noUserTemplate>
    <p>Niciun utilizator logat.</p>
  </ng-template>


  <div class="profile" *ngIf="userEMAIL; else noUserTemplate">
    <div class="col-md-4 col-lg-8">

      <div class="block-content">
        <div class="profile">
          <div class="profile-logo">
            <img src="assets/logo.png" alt="profile-img">
          </div>
          <div class="profile-fullname">
            <span>{{ userFIRSTNAME }} {{ userLASTNAME }}</span>
          </div>
          <div class="profile-role">
            <span>{{ userROLE }}</span>
          </div>
        </div>

        <div class="profile-info">
          <div class="profile-header">
            <h3>Profile info</h3>
          </div>
          <div class="block-content">
            <ul>
              <li>{{ userCNP }}</li>
            </ul>
            <ul>
              <li>{{ userEMAIL }}</li>
            </ul>
            <ul>
              <li>{{ userFIRSTNAME }}</li>
            </ul>
            <ul>
              <li><i>Last Name: </i>{{ userLASTNAME }}</li>
            </ul>
            <ul>
              <li>{{ userPHONE }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <ul></ul>
      <div class="block-content">
        <div>
          <div>
            
          </div>

        </div>
      </div>

    </div>

  </div>


  <ng-template #noUserTemplate>
    <p>Niciun utilizator logat.</p>
  </ng-template>