.form-container {
    background-color: #f4f4f4;
    border-radius: 15px;
    width: auto;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    padding: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.img-logo {
    display: flex;
    justify-content: center; /* Centrarea pe orizontală */
    align-items: center;
}
.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Form Section */

.water-meter-form {
    border: solid 1px #8d8d8d;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 10px;
    width: 100%;
    background-color: #d9d9d9;
}

.input-field {
    position: relative;
    width: 100%;
}
.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus {
    border: solid 1px #02b493;
    outline: none;
}

.input-field input:focus ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #02b493;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

/* File Input */

.file-section {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
}

.title {
    color: #0000;
    font-size: 1.5rem;
    font-weight: 500;
}
.paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105,105,105);
}
.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed #02b493;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
.drop-container:hover {
    background-color: #f5f5f5;
    border: 2px dashed #02b493;
}
.drop-container:hover .title {
    color: #222;
}
.title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}
#file-input::-webkit-file-upload-button {
    margin-right: 20px;
    border: none;
    background-color: #02b493;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
#file-input::-webkit-file-upload-button:hover {
    background-color: #02b493;
}

/* Calendar */

.calendar {
    background-color: #02b493;
    padding: 15px;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;;
    text-align: center;
}

/* Selected Apartament - option */
.select-field {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #02b493;
    cursor: pointer;

}
.select-field::-ms-expand {
    display: none;
}

.apartament-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}
.apartament-section::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background-color: #02b493;
    pointer-events: none;
}
.apartament-section:hover::after {
    color: white;
}
.apartament-section label {
    display: block;
    margin-bottom: 3px;
    color: #333;
    font-size: 18px;
}