.form-container {
    background-color: #d9d9d9;
    border-radius: 15px;
    width: auto;
    max-height: 500px;
    position: static;
    top: 0;
    left: 0;
    text-align: center;
    display: grid;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    width: 50%;
    border-radius: 5px;
    padding: 10px,25px;
    display: inline-block;
    border: none;
    text-align: left;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    padding: 5px;
}
.form-watermeter {
    padding: 10px;
}
.img-logo {
    display: flex;
    justify-content: center; /* Centrarea pe orizontală */
    align-items: center;
}
.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-login {
    background-color: #02b493;
    color: white;
    padding: 14px,20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    width: 50%;
    text-decoration: none;
}