.form-container {
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.form-section {
    padding: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    align-items: left;
    /* gap: 20px; */
}

.img-logo {
    display: flex;
    justify-content: center; /* Centrarea pe orizontală */
    align-items: center;
}
.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Form Section */

.water-meter-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 10px;
    width: 100%;
    background-color: #d9d9d9;
}

/* Line Orizontal */

.line-o {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #8d8d8d, rgba(0, 0, 0, 0));
}

.input-field {
    position: relative;
    width: 50%;
}
.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
    font-size: 20px;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus {
    border: solid 1px #8d8d8d;
    outline: none;
}

.input-field input:focus ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #8d8d8d;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}
.input-field input:not(:placeholder-shown) + label,
.input-field input:valid + label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #8d8d8d;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}


/* File Input */

.file-section {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
}

.title {
    color: #0000;
    font-size: 1.5rem;
    font-weight: 500;
}
.paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105,105,105);
}
.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed #8d8d8d;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
.drop-container:hover {
    background-color: #f5f5f5;
    border: 2px dashed #8d8d8d;
}
.drop-container:hover .title {
    color: #222;
}
.title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}
#file-input::-webkit-file-upload-button {
    margin-right: 20px;
    border: none;
    background-color: #02b493;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
#file-input::-webkit-file-upload-button:hover {
    background-color: #8d8d8d;
}

/* Calendar */

.calendar {
    background-color: #8d8d8d;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;;
    text-align: center;
    margin-top: 10px;
    width: 20%;
}

/* Selected Apartament - option */
.select-field {
    appearance: none;
    outline: none;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 5px;
    flex: 1;
    color: #fff;
    background-color: #8d8d8d;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}
.select-field::-ms-expand {
    display: none;
}
.select-field:hover {
    border-color: #8d8d8d;
}
.select-field:focus {
    border-color: #333;
}


/* Text */
.text-c{
    text-align: center;
}
.f-18{
    font-size: 18px;
}

/* Section ROW */
.section-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10%;
}

/* Apartament Section */
.apartament-section {
    display: flex;
    flex-direction: column;
}


/* Date Section */
.date-section{
    display: flex;
    flex-direction: column;
}

/* Type Section */

.type-section {
    display: flex;
    flex-direction: column;
}

/* VALUE SECTION */
.value-section {
    display: flex;
    flex-direction: column;
}
.value-field{
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    /* color: #fff;
    background-color: #8d8d8d; */
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
}

/* ADD BUTTON */
.add-button {
    background-color: #02b493;
    color: white;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    width: 50%;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}