<div class="filter-container">
  <label for="categorySelect">Category:</label>
  <select id="categorySelect" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
</div>

<div class="container" *ngIf="announcements.length > 0; else noAnnouncements">
  <!-- <div class="announcement-actions">
    <button (click)="addAnnouncement()">Add Announcement</button>
    <button (click)="manageCategories()">Categories</button>
  </div> -->
  <div class="search-container">
    <h2>Announcements</h2>
    <input type="text" [(ngModel)]="searchText" placeholder="Search announcements..." (input)="filterAnnouncements()">
  </div>
  
  <table class="announcement-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Message</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let announcement of filteredAnnouncements">
        <td>
          {{ announcement.title }}
          <span class="visible-indicator">Visible</span>
        </td>
        <td>{{ announcement.category }}</td>
        <td>{{ announcement.message }}</td>
        <td>{{ announcement.startDate | date: 'longDate' }}</td>
        <td>{{ announcement.endDate | date: 'longDate' }}</td>
        <!-- <td>
          <button (click)="viewAnnouncement(announcement)">View</button>
          <button (click)="editAnnouncement(announcement)">Edit</button>
          <button (click)="deleteAnnouncement(announcement)">Delete</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noAnnouncements>
  <p>No announcements available.</p>
</ng-template>
