<div *ngFor = "let apartament of apss">
    {{apartament.apartamentNumber}}, {{apartament.owners.join(', ')}}
</div>

<div class="container">
    <h2>Alege Apartamentul</h2>
    <form (ngSubmit)="sendRequest()">
      <label for="apartamentSelect">Selecteaza Apartamentul:</label>
      <select id="apartamentSelect" [(ngModel)]="selectedApartament" name="apartament">
        <option *ngFor="let apartament of apartaments" [value]="apartament.id">
          {{ apartament.apartamentNumber }}
        </option>
      </select>
      <button type="submit" class="submit-btn">Trimite Cererea</button>
    </form>
</div>
<div *ngIf="requestsApartaments.length > 0; else noData">
  <div *ngFor="let request of displayRequests" class="container">
    <div class="header">
      User Request
    </div>
    <div class="detail">
      User CNP: {{request.cnp}}
    </div>
    <div class="detail">
      Apartament ID: {{request.apartamentId}}
    </div>
    <div class="detail" *ngIf="request.apartamentInfo">
      Număr Apartament: {{request.apartamentInfo.apartamentNumber}}
    </div>
    <div class="detail">
      Status: {{request.status}}
    </div>
    <button (click)="cancelRequest(request.id)" class="cancel-button">Anulează Request</button>
  </div>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
<ng-template #noData>
  <p>Nu există cereri pentru acest CNP.</p>
</ng-template>