<div *ngFor = "let apartament of apss">
    {{apartament.apartamentNumber}}, {{apartament.owners.join(', ')}}
</div>

<div class="request-form">
    <h2>Alege Apartamentul</h2>
    <form (ngSubmit)="sendRequest()">
      <label for="apartamentSelect">Selecteaza Apartamentul:</label>
      <select id="apartamentSelect" [(ngModel)]="selectedApartament" name="apartament">
        <option *ngFor="let apartament of apartaments" [value]="apartament.id">
          {{ apartament.apartamentNumber }}
        </option>
      </select>
      <button type="submit" class="submit-btn">Trimite Cererea</button>
    </form>
</div>
<div *ngIf="requestsApartaments.length > 0; else noData">
  <div *ngFor="let request of requestsApartaments">
    <p>CNP: {{ request.cnp }}</p>
    <p>Apartament ID: {{ request.apartamentId }}</p>
    <p>Status: {{ request.status }}</p>
    <button (click)="cancelRequest(request.id)">Anulează Request</button>
  </div>
</div>
<ng-template #noData>
  <p>Nu există cereri pentru acest CNP.</p>
</ng-template>