<div class="container-s">
  <div class="add-container">
    <div class="text">
      <h2>Add apartament</h2>
      <p>Add new apartament in system.</p>
    </div>
    <button (click)="toggleAddApartamentModal()" class="add-button"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div class="container-s">
  <div class="search-container">
    <h2>All Apartament</h2>
    <input type="text" [(ngModel)]="searchText" placeholder="Search by block..." (input)="filterApartaments()">
  </div>
</div>
<div class="container">
    <table class="requests-table">
      <thead>
        <tr>
          <th>Apartament Name</th>
          <th>Scara</th>
          <th>Apartament Number</th>
          <th>Block Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartament of filteredApartaments">
          <td>{{ apartament.name }}</td>
          <td>{{ apartament.Scara }}</td>
          <td>{{ apartament.apartamentNumber }}</td>
          <td>{{ apartament.blockInfo?.name || 'Loading...' }}</td>
          <td>
            <div class="actions-menu">
              <button class="actions-menu-icon" (click)="toggleActionsMenu($event)"><i class="fa fa-bars" aria-hidden="true"></i></button>
              <div class="actions-dropdown">
                <button class="action-item color-b" (click)="openUpdateModal(apartament)">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="action-item delete-button" (click)="deleteApartament(apartament.id)">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <div *ngIf="selectedApartament" class="modal">
    <div class="modal-content">
      <span class="close" (click)="selectedApartament = null">&times;</span>
      <h2>Actualizare utilizator</h2>
      <form (submit)="saveApartament()">
        <label for="apartamentName">Apartament Name:</label>
        <input type="text" id="apartamentName" [(ngModel)]="selectedApartament.name" name="apartamentName">
        
        <label for="scara">Scara:</label>
        <input type="text" id="scara" [(ngModel)]="selectedApartament.Scara" name="scara">
        
        <label for="apartamentNumber">Apartament Number:</label>
        <input type="text" id="apartamentNumber" [(ngModel)]="selectedApartament.apartamentNumber" name="apartamentNumber">
        
        <label for="blockID">BlockId:</label>
        <select id="blockID" [(ngModel)]="selectedApartament.blockID" name="blockID">
            <option *ngFor="let block of blocks" [value]="block.id">{{ block.name }}</option>
        </select>

        <h3>Proprietari:</h3>
        <ul>
            <li *ngFor="let owner of selectedApartament.owners; let i = index">
                {{ owner }} 
                <button type="button" (click)="removeOwner(i)">Remove</button>
            </li>
        </ul>

        <label for="newOwner">Adaugă un nou proprietar:</label>
        <input type="text" id="newOwner" [(ngModel)]="newOwner" name="newOwner">
        <button type="button" (click)="addOwner()">Add</button>

        <button type="submit">Save</button>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="showAddApartamentModal">
    <div class="modal-content">
      <span class="close" (click)="toggleAddApartamentModal()">&times;</span>
      <h2>Add New Apartament</h2>
      <form (submit)="addApartament()">
        <label for="apartamentName">Apartament Name:</label>
        <input type="text" id="apartamentName" [(ngModel)]="newApartament.name" name="apartamentName">
        
        <label for="apartamentNumber">Apartament Number:</label>
        <input type="text" id="apartamentNumber" [(ngModel)]="newApartament.apartamentNumber" name="apartamentNumber">
        
        <label for="scara">Scara:</label>
        <input type="text" id="scara" [(ngModel)]="newApartament.Scara" name="scara">
        
        <label for="blockID">blockID:</label>
        <select id="blockID" [(ngModel)]="newApartament.blockID" name="blockID">
          <option *ngFor="let block of blocks" [value]="block.id">{{ block.name }}</option>
        </select>
        
        <label for="owners">Owners:</label>
        <ul>
          <li *ngFor="let owner of newApartament.owners; let i = index">
            {{ owner }} 
            <button type="button" (click)="removeNewOwner(i)">Remove</button>
          </li>
        </ul>
        <input type="text" id="newOwner" [(ngModel)]="newOwner" name="newOwner">
        <button type="button" (click)="addNewOwner()">Add Owner</button>
        
        <button type="submit">Add Block</button>
      </form>
    </div>
  </div>