<div class="sidenavbar" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">B</button>
        <div class="logo-text" *ngIf="collapsed">BlocConnect</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeCollapse()">
            <i></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="side-nav-item" *ngFor="let data of navData">
            <a class="side-nav-link" 
                [routerLink]="[data.routerLink]"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="item-icon" [class]="data.icon"></i>
                <span class="side-nav-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>